.show-list-card {
    transition: 0.1s filter ease-out;
}

.show-list-card:hover {
    filter: brightness(75%);
}

.show-list-card-cover {
    border-radius: 8px;
}

.show-list-card .show-list-card-title {
    margin: 0.5em 0 0;
}
